.logotype {
  display: flex;
  align-items: center;
  margin-bottom: 6em;
}

.logotype-logo {
  grid-area: logo;
  display: flex;
  flex-flow: column;
  margin-right: 12em;
}

.logotype-logo__text {
  font-size: 1.1rem; // 11px
  font-family: "Bitter";
  font-style: italic;
  color: #aaa;
  margin: -0.3em 0.8em 0 auto;
}

.logotype-search,
.logotype-search::placeholder {
  font-size: 1.2rem; // 12px
  color: #777;
}

.logotype-search {
  grid-area: search;
  justify-self: end;
  width: 18.9166em;
  height: 2.9166em;
  padding: 0 2.3em 0 0.8333em;
  margin-right: 8em;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: url("../images/icon/search.png") no-repeat 96% center;
}

.logotype-search:focus {
  border-color: rgb(89, 183, 194);
}

.logotype-nav {
  grid-area: nav;
  display: flex;
  align-items: center;
}

.logotype-nav__item {
  position: relative;
}

.logotype-nav__item:not(:last-child)::after {
  width: 0.1em;
  height: 1.4em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -0.1em;
  display: inline-block;
  background-color: rgb(224, 224, 224);
  content: "";
}

.logotype-nav__item-btn {
  font-size: 1.2rem; // 12px
  padding: 1.1666em;
  margin: 0;
  border: none;
  border-radius: 2px;
  display: inline-block;
  background: transparent;
  color: #777;
  transition: all 300ms ease-in;
}

.logotype-nav__item-btn:hover {
  background-color: rgb(89, 183, 194);
  color: #fff;
}

// autorization
.autorization-form {
  width: 30em;
  height: 30em;
  border-radius: 2px;
  border: 1px solid #aaa;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 4em 2em;
  transform: scale(0);
  transform-origin: top right;
  transition: all 300ms ease-in;
  z-index: 111;
}

.autorization-form_scale {
  transform: scale(1);
}

.autorization-form__close {
  font-size: 3rem; // 30px
  position: absolute;
  top: 0;
  right: 0.3em;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  color: #777;
  font-weight: 900;
}

.autorization-form input {
  width: 80%;
  height: 15%;
  border: 1px solid #aaa;
  padding: 0 1em;
}

.autorization-form input::placeholder {
  font-size: 1.2rem; // 12px
  color: #777;
}

.autorization__error {
  color: #f00;
}

.autorization-form__submit {
  font-size: 1.4rem; // 14px
  width: 80%;
  height: 15%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 2px;
  background: #f5f7f9;
  color: #777;
}
// autorization

.logotype-cart {
  font-size: 1.1rem; // 11px
  grid-area: cart;
  justify-self: end;
  width: 8.909em;
  height: 3.1818em;
  padding: 0 0.909em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  background-color: rgb(241, 243, 245);
  color: #444;
  transition: all 300ms ease-in;
}

.logotype-cart:hover {
  background-color: rgb(89, 183, 194);
  color: #fff;
}

.logotype-cart__icon {
  position: relative;
}

.logotype-cart__icon::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  background: url("../images/icon/black-cart.png") center / contain no-repeat;
  transition: all 300ms ease-in;
}

.logotype-cart:hover .logotype-cart__icon::after {
  opacity: 0;
}

@media (max-width: 983px) {
  .logotype {
    justify-content: space-between;
  }

  .logotype-logo,
  .logotype-search {
    margin: 0 0.5em 0 0;
  }

  .logotype-search {
    width: fit-content;
  }
}

@media (max-width: 767px) {
  .logotype {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(5, 1fr);
    grid-template-areas:
      "logo search search search search"
      "nav nav nav nav cart";
    grid-gap: 1em;
  }

  .logotype-search {
    width: 18.9166em;
  }

  .autorization-form {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) scale(0);
    transform-origin: unset;
  }

  .autorization-form_scale {
    transform: translate(-50%, -50%) scale(1);
  }
}

@media (max-width: 479px) {
  .logotype {
    grid-template: repeat(3, minmax(min-content, max-content)) / repeat(3, 1fr);
    grid-template-areas:
      "logo cart cart"
      "search search search"
      "nav nav nav";
  }

  .logotype-search {
    width: fit-content;
    justify-self: center;
  }
}
